@font-face {
  font-family: Replica Pro;
  src: url("../fonts/ReplicaPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Replica Pro;
  src: url("../fonts/ReplicaPro-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal
}
